{{ define "main" }}
<div class="section">
  <div class="container">
    <h1 class="section-title">{{ if .IsHome }}Latest Guides{{ else }}{{ .Title }}{{ end }}</h1>
    <div class="card-grid">
      {{ range .Pages }}
      <div class="card">
        <h2 class="card__title">{{ .Title }}</h2>
        <p class="card__desc">{{ .Params.description | default .Summary }}</p>
        <a href="{{ .Permalink }}" class="card__link">Read Guide &#8250;</a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
